@media screen {
    .fir{
        height:250px;
        background-color: antiquewhite;
        padding: 50px;

    }
    div h1{
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}
    div p{
    
    font-family: Arial, Helvetica, sans-serif;
    }
    div button{
        
        max-width: 200px;
        background-color: blue;
        border-radius: 5px;
    }
    .card button{
        background-color: gray;
    }
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}
div .row{
    padding: 5px;
}
.row .card{
    padding: 50px;
}
footer{
    background-color: aliceblue;
}