*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    width: 800px;
    height: 700px;
    margin: auto;
    margin-top: 100px;
    border: 1px solid grey;
    /* make parent grid container */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr;
}


.child1{
    grid-column: 1/3;
    grid-row: 1/2;
    background: white;
    padding: 10px;   
     display: flex;
    justify-content: space-between; 
    align-items: center;  
}
.child1 h4,h3,h5
{
    text-align: left;
    padding-left: 2rem;
}

.child1 img{
    width: 150px;
    height: 200px;
    
}

.child2{
    grid-column:3/5 ;
    grid-row: 1/2;
    background: rgba(211, 211, 211, 0.851);
    display: flex;
    flex-direction: column;
    justify-content: center;  /* vertical center */
    align-items: center;      /* horizontal center */
    text-align: center;

}
/* CHILD 3 */
.child3{
    grid-column: 1/2;
    grid-row: 2/3;
    background: orangered;
    color: white;
    text-align: center;
    
}
.child3 img{
    width: 150px;
    height: 80px;
    padding-top: 25px;
}
.child3 h5{
    padding: 10px;
    text-align: center;
    color: yellowgreen;
}
.child3 h2{
    padding: 10px;
    text-align: center;
    color: white;
}

/* CHILD 4 */
.child4{
    grid-column: 2/4;
    grid-row: 2/3;
    background:white ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.child4 h5{
    
    color: gray;
    margin-bottom: 10px;
}
.child4 h2{
    font-size: 28px;
    margin-bottom: 15px;
}
.child4 img{
    width: 130px;
    height: 120px;
}
.child4 p{
    font-size: 14px;
    line-height: 1.6;
    color: gray;
    margin-bottom: 20px;
}

.child4 a{
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #3aa6b9;
}

/* child 5 */
.child5{
    grid-column:4/5;
    grid-row: 2/4;
    background: rgb(166, 112, 242);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.child5 button{
    width: 100px;
    height: 40px;
    display: block;
    margin: 20px auto;
    background: gold;
    color: black    ;
    border: none;
    border-radius: 50px;
    margin-top: 20px;
    
    
}
.child5 img{
    width: 190px;
    height: 250px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    object-fit: cover;
}
.child5 p{
    text-align: center;
    padding-top: 20px;
    color: white;
}


/* CHILD - 6 */
.child6{
    grid-column: 1/2;
    grid-row: 3/4;
    background:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.child6 img{
    width: 180px;
    margin-bottom: 20px;
}
.child6 h2{
    margin-bottom: 10px;
}

.child6 a{
    text-decoration: none;
    font-size: 14px;
    color: teal;
    font-weight: bold;
}



/* CHILD - 7 */

.child7{
    grid-column:2/4 ;
    grid-row:3/4 ;
     background: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    /* padding: 30px; */
    position: relative;
}

.child7 h2{
    text-align: center;
    padding-top: 20px;
    color: white;
}
.child7 img{
    align-items: center;
   margin-top: 10px;
   width: 380px;
   /* padding: 10px; */
}
.child7 button{
    padding-top: 10px;
    width: 90px;
    height: 20px;
    background: orangered;
    color: white;
    border: none;
    border-radius: 4px;

    
}


/* @media screen and (max-width:600px) {
    .parent{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
} */